<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Practicum Basis Statistiek / SQL </h1>

<h2>Imports<h2>

In [8]:
from matplotlib import pyplot as plt
from matplotlib_venn import venn2, venn3
from PIL import Image
from pyspark import SparkContext as sc
from pyspark.sql import SparkSession
# import pyspark.sql
import pandas as pd
import pyspark.pandas as ps
import sqlite3

<h2>Extract, Transform and Load</h2>

<h3>Extract</h3>

In [10]:
# https://raw.githubusercontent.com/ajturner/acetate/master/places/Countries-Europe.csv
eurCsvFile = "csv/countries_europe.csv"
euCsvFile = "csv/european_union.csv"

 # Create Pandas DataFrames
eurDF = pd.read_csv(eurCsvFile)
euDF = pd.read_csv(euCsvFile)
# print(europeDF)
# print(euDF)

<h3>Transform</h3>

<h3>Exercise 1</h3>
<h4>Gegeven</h4>

In [11]:
benelux = {"Belgium", "The Netherlands", "Luxembourg"}
nordics = {"Denmark", "Finland", "Iceland", "Norway"}
baltics = {"Estonia", "Latvia", "Lithuania"}

<h4>Gevraagd</h4>
<ol>
    <li>Voeg de kolom <u>group</u> toe aan de dataset <u>europeDF</u> met daarin de groep waartoe een land behoort volgens bovenstaande sets</li>
    <li>Ga na of er nog meer landengroepen zijn binnen Europa en voeg die ook toe</li>
    <li>Sla deze verrijkte dataset op in een nieuw CSV bestand</li>
</ol>

<h4>Oplossing</h4>

In [ ]:
# Oplossing

<h2>SQLite</h2>

<h3>Load</h3>

<p>Maak een lege database</p>

In [12]:
!sqlite3 db/europe.db "VACUUM;"

Error: unable to open database "db/europe.db": unable to open database file

In [13]:
# Connect to SQLite database
dbConnection = sqlite3.connect('db/europe.db')

OperationalError: unable to open database file

<p>Maak tabellen o.b.v. de dataset</p>

In [14]:
eurDF.to_sql('countries', dbConnection, if_exists='replace', index = False)
euDF.to_sql('eu', dbConnection, if_exists='replace', index = False)

NameError: name 'dbConnection' is not defined

In [ ]:
dbCursor = dbConnection.cursor()

query = """
    SELECT *
    FROM countries
    INNER JOIN eu
    ON countries.Code = eu.Code
"""

result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

In [ ]:
query = """
    SELECT Code
    FROM countries
"""

In [ ]:
result = dbCursor.execute(query).fetchall()
print(result)
print(type(result))

<h2>PySpark</h2>

In [15]:
spark1 = SparkSession.builder.appName('SQL').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/11/27 22:31:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
# # Read a file (and create dataframe) by directly running a spark.sql method on the file
# dfCountries = spark1.sql(f"SELECT * FROM csv.`csv/countries_europe.csv`")
# dfCountries.show()

In [17]:
# Create pyspark pandas dataframes
 # Create Pandas DataFrames
eurDF = ps.read_csv(eurCsvFile)
euDF = ps.read_csv(euCsvFile)
eurDF
# euDF

/home/jb/.conda/envs/miw3/lib/python3.10/site-packages/pyspark/pandas/utils.py:975: PandasAPIOnSparkAdviceWarning: If `index_col` is not specified for `read_csv`, the default index is attached which can cause additional overhead.
  warnings.warn(message, PandasAPIOnSparkAdviceWarning)

    zoom                    name  abbreviation Code  ISO numeric  land area km  population  latitude  longitude continent
0      3                 Ukraine          Ukr.  UKR          804      603700.0    45415596     49.00      32.00        eu
1      3                  France           Fr.  FRA          250      547030.0    64768389     46.00       2.00        eu
2      3                   Spain         Spain  ESP          724      504782.0    46505963     40.00      -4.00        eu
3      3                  Sweden          Swe.  SWE          752      449964.0     9045000     62.00      15.00        eu
4      3                 Germany          Ger.  DEU          276      357021.0    82369000     51.50      10.50        eu
5      3                 Finland          Fin.  FIN          246      337030.0     5244000     64.00      26.00        eu
6      3                  Norway          Nor.  NOR          578      324220.0     4907000     62.00      10.00        eu
7      3                  Poland          Pol.  POL          616      312685.0    38500000     52.00      20.00        eu
8      3                   Italy         Italy  ITA          380      301230.0    58145000     42.83      12.83        eu
9      3          United Kingdom          U.K.  GBR          826      244820.0    62348447     54.90      -3.12        eu
10     3                 Romania          Rom.  ROU          642      237500.0    21959278     46.00      25.00        eu
11     3                 Belarus         Bela.  BLR          112      207600.0     9685000     53.00      28.00        eu
12     3                  Greece          Grc.  GRC          300      131940.0    11000000     39.00      22.00        eu
13     3                Bulgaria          Blg.  BGR          100      110910.0     7148785     43.00      25.00        eu
14     3                 Iceland          Ice.  ISL          352      103000.0      308910     65.00     -18.00        eu
15     3                Portugal         Port.  PRT          620       92391.0    10676000     39.50      -8.00        eu
16     3          Czech Republic    Czech Rep.  CZE          203       78866.0    10476000     49.75      15.00        eu
17     3                 Denmark          Den.  DNK          208       43094.0     5484000     56.00      10.00        eu
18     4                 Hungary         Hung.  HUN          348       93030.0     9930000     47.00      20.00        eu
19     4                  Serbia         Serb.  SRB          688       88361.0     7344847     44.82      20.46        eu
20     4                 Austria          Aus.  AUT           40       83858.0     8205000     47.33      13.33        eu
21     4                 Ireland          Ire.  IRL          372       70280.0     4622917     53.00      -8.00        eu
22     4               Lithuania         Lith.  LTU          440       65200.0     3565000     56.00      24.00        eu
23     4                  Latvia          Lat.  LVA          428       64589.0     2217969     57.00      25.00        eu
24     4                 Croatia          Cro.  HRV          191       56542.0     4491000     45.17      15.50        eu
25     4  Bosnia and Herzegovina          Bos.  BIH           70       51129.0     4590000     44.25      17.83        eu
26     4                Slovakia         Slvk.  SVK          703       48845.0     5455000     48.67      19.50        eu
27     4                 Estonia          Est.  EST          233       45226.0     1291170     59.00      26.00        eu
28     4             Netherlands         Neth.  NLD          528       41526.0    16645000     52.50       5.75        eu
29     4             Switzerland        Switz.  CHE          756       41290.0     7581000     47.00       8.01        eu
30     4                 Moldova          Mol.  MDA          498       33843.0     4324000     47.00      29.00        eu
31     4                 Belgium          Bel.  BEL           56       30510.0    10403000     50.83       4.00        eu
32     4                 Albania          Alb.  ALB            8       28748.0     2986952     41.00      20.00        eu
33     4               Macedonia          Mac.  MKD          807       25333.0     2061000     41.83      22.00        eu
34     4                Slovenia         Slvn.  SVN          705       20273.0     2007000     46.25      15.17        eu
35     4              Montenegro         Mont.  MNE          499       14026.0      666730     43.50      19.30        eu
36     4                  Cyprus          Cyp.  CYP          196        9250.0     1102677     35.00      33.00      asia
37     4              Luxembourg          Lux.  LUX          442        2586.0      497538     49.75       6.17        eu
38     4               Faroe Is.      Far. Is.  FRO          234        1399.0       48228     62.00      -7.00        eu
39     4                 Andorra          And.  AND           20         468.0       84000     42.50       1.50        eu
40     4                   Malta         Malta  MLT          470         316.0      403000     35.92      14.43        eu
41     4           Liechtenstein        Liech.  LIE          438         160.0       35000     47.17       9.53        eu
42     4                Guernsey        Guern.  GGY          831          78.0       65228     49.58      -2.33        eu
43     4              San Marino       S. Mar.  SMR          674          61.2       31477     43.93      12.42        eu
44     4               Gibraltar          Gib.  GIB          292           6.5       27884     36.13      -5.35        eu
45     4                  Monaco        Monaco  MCO          492           2.0       32965     43.73       7.42        eu
46     4            Vatican City  Vatican City  VAT          336           0.4         921     41.90      12.45        eu

22/11/28 21:39:28 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 45252401 ms exceeds timeout 120000 ms
22/11/28 21:39:28 WARN SparkContext: Killing executors is not supported by current scheduler.

In [ ]:
df = spark1.read.csv(eurCsvFile,inferSchema=True,header=True)
df.printSchema()

<h2>Afhankelijke en onafhankelijke variabelen</h2>

<h3>Overlappende uitkomsten</h3>

In [ ]:
eu = {"Austria", "Belgium", "Bulgaria", "Croatia", "Cyprus", "Czechia", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Latvia", "Lithuania", "Luxembourg", "Malta", "The Netherlands", "Poland", "Portugal", "Romania", "Slovakia", "Slovenia", "Spain", "Sweden"}

In [ ]:
venn3([benelux, baltics, eu], ('Benelux', 'Baltics', 'EU'))

<h3>Exercise 2</h3>
<p>
    Gebruik SQL queries voor het verkrijgen van
<ol>
    <li>P(Nordics); de kans dat een land onderdeel is van de Nordics</li>
    <li><u>P(EU)</u>; de kans dat een Europees land lid is van de Europese Unie</li>
    <li><u>P(EU and Nordics)</u>; de kans dat een land onderdeel is van de Norics en lid is van de EU</li>
</ol>
</p>

In [ ]:
df.createOrReplaceTempView('nordics')

In [ ]:
# Close connection to SQLite database
dbConnection.close()